.arrow-container {
    display: flex;
    margin: 0 10px;

    .arrow-gifs {
        flex-grow: 5;
    }

    .prev, .next {
        margin-top: 10%;
        cursor: pointer;
        width: auto;
        height: 100%;
        padding: 120px 16px;
        background-color: burlywood;
        opacity: 40%;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .prev:hover {
        color:#113e4b;
        opacity: 90%;
        box-shadow:0 0 100px 100px rgba(245, 243, 243, 0.1);
      }

      .next:hover {
        color:#113e4b;
        opacity: 90%;
        box-shadow:0 0 100px 100px rgba(245, 243, 243, 0.1);
      }
}


