.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #1c283d;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-gif {
  display: flex;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.options {
  width: 30%;
  padding-left: 2rem;;
}

.valid {
  background-color: green;
}

.default {
  background-color: rgb(76, 76, 153);
}

.invalid {
  background-color: red;
}

.option-tile {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
}

.card-container {
  height: 500px;
  width: 30%;
  padding-left: 2rem;
  background-color: burlywood;
  border-radius: 2rem;
}