.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #2e333d;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-gif {
  display: flex;
  justify-content: space-around;
}

.options {
  width: 30%;
  padding-left: 2rem;;
}

.valid {
  background-color: rgb(65, 143, 65);
}

.default {
  background-color: rgb(76, 76, 153);
}

.invalid {
  background-color: rgb(196, 70, 70);
}

.option-tile {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
}

.card-container {
  height: 400px;
  width: 30%;
  padding: 1.5rem;
  margin-top: 2rem;
  background-color: burlywood;
  background: linear-gradient(to right, #0069c0 , #68233d);
  border-radius: 2rem;
}

.container-gif-image img {
  border-radius: 10px;
  padding-top: 1.3rem;
  margin-top: 2rem;
}


.card-container-desc h2 {
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
}


.card-container-desc {
  margin: 4rem 0rem 0rem 4rem;
  overflow-y: auto;
  text-align: justify;
  border-radius: 2rem;
  padding: 0rem;
}